video {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splash-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    background: linear-gradient(165deg, #1b2d48 0%, #2f5287 50%, #4779c4 100%);
    color: white;
    gap: 2rem;
}

.intro-content {
    flex: 1 1 400px;
    max-width: 600px;
}

.intro-content p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.intro-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.intro-content button {
    padding: 0.75rem 1.5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
.intro-content button:hover {
    background-color: #333;
}

.intro-image {
    flex: 1 1 300px;
    text-align: center;
  }
  
.intro-image img {
    max-width: 90%;
    height: auto;
    border: 4px solid #ccc;
    border-radius: 8px;
}
  
.features-container {
    background: linear-gradient(170deg, #0f1b30 0%, #1f3658 55%, #3f6cb0 100%);
    padding-bottom: 2rem;
}

.section-heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: Left;
    font-weight: 600;
    color: white; 
    padding: 1.25rem ;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    
}

.card {
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.08) 100%);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    margin-bottom: 3rem;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

