nav {
    
    background: linear-gradient(0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 121, 196, 1) 100%
    ); 

}

.name-login-container {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    
}

.nav-items {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 1em;
    border-radius: var(--radius-md);
    

    & button {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
         border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        &:hover {
            @media (hover: hover) {
                background-color: #3c649f;
            }
        }
    }
}

.span {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
    font-weight: 600;
}