
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F3;
    color: #1b2d48;
    padding: 20px;
   
   
}

.signup h1 {
    align-self: flex-start;
    
}
.signup-container {
display: flex;
flex-direction: column;
justify-content: center;
gap: 16px;
background-color: #faf8f8fd;
border-radius: 8px;
width: 100%;
max-width: 400px;
margin:auto;
padding: 20px;
box-shadow: 4px 4px 150px 4px rgba(151, 151, 151, 0.25);

}


.form-labels label {
    display: flex;
    flex-direction: column;
   width: fit-content;

    margin-top: 10px;
}

.form-labels input {
 display: flex;
 flex-direction: column;

font-size: 16px;
width: 100%;

}

.button-wrapper{
display: flex;
justify-content: center;
}

.button-wrapper button {

    background-color: #1b2d48;
    color:white;
    padding: 15px;
    width: 50%;
    border-radius: 55px;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    
   
   
}

.signup button:hover {
    background-color:#3a6098;
}
.divider {
    display: flex; 
    align-items: center;
    width: 100%;
}

.line {
    height: 1px; 
    background-color: #CCC;
    flex-grow: 1; 
    margin: 0 10px; 
}

.text {
    white-space: nowrap;
}

.login-redirect {
padding: 20px;
}

.login-link {
    text-decoration: underline;
    font-weight: bold;
}

.login-link:hover {
    color: #5400b3;  
    transition: color 0.3s;
}