video {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splash-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.intro {
    background: rgb(71, 121, 196);
    background: linear-gradient(0deg, rgba(71, 121, 196, 1) 0%, rgba(2, 0, 36, 1) 100%, rgba(66, 66, 68, 1) 100%);
    padding: 3em 2em 3em 2em;
}

h1 {
    padding: 0 0 1em 0;
    font-size: 2em;

}