.highlight {
    font-weight: bold;
    color: #D9F0FF;
}

.feature-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color:#D9F0FF;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.about {
    background: linear-gradient(170deg, #182a45 0%, #2f5287 52%, #3f6cb0 100%);
}
