.highlight {
    font-weight: bold;
    color: #D9F0FF;
}

.feature-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color:#D9F0FF;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.about {
    background: linear-gradient(0deg, rgb(47, 82, 135) 0%, rgba(2, 0, 36, 1) 100%, rgba(66, 66, 68, 1) 100%);
}